.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  background-color: #0088f8;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 32px;
  cursor: pointer;
  text-decoration: none;
}

.red {
  color: red;
  cursor: pointer;
}
