.Main {
  margin-top: 25px;
}

.newInput {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.newInput:focus {
  box-shadow: 0px 0px 5px #0088f8;
  border: 1px solid #0088f8;
}
